@{
    Title("现货管理");
}
@model SaleManagement.Protal.Models.SpotGoods.SpotGoodsQueryRequest
<div>
    <ul class="breadcrumb">
        <li>
            <a href="/home/index">首页</a>
        </li>
        <li>
            <a href="/SpotGoods/list">现货管理</a>
        </li>
        <li>
            <a href="/SpotGoods/SellList">销售列表</a>
        </li>
    </ul>
</div>
<div class="search">
    <div style=" display:inline-block;margin-bottom:5px;">
        <div class="textfield pull-left "><div class="field-body" style="width: 200px;"><input id="orderId" class="form-control" type="text" placeholder="输入单号,按Enter键查询"></div></div>

        <div class="textfield combobox pull-left" id="divOrderStatus">
            @{
                var orderStatusItem = EnumHelper.GetSelectList(typeof(SaleManagement.Core.Models.SpotGoodsStatus));
            }
            <div class="combobox-body" style="width: 200px;">
                @Html.DropDownListFor(m => m.Status, orderStatusItem, "请选择状态", new { Class = "pull-left form-control" })
            </div>
        </div>
        <button id="btnSearch" class="btn btn-primary">查询</button>
    </div>
</div>
<div class="row">
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well" data-original-title="">
                <h2>销售列表</h2>
                <div class="box-icon">

                </div>
            </div>

            <div class="box-content">
                <table class="table table-striped table-bordered bootstrap-datatable  responsive">
                    <thead>
                        <tr>
                            <th>单号</th>
                            <th>付款单号</th>
                            <th>销售价格</th>
                            <th>镶嵌</th>
                            <th>销售日期</th>
                            <th>出货单状态</th>
                            <th>客户姓名</th>
                            <th>客户电话</th>
                            <th>客户地址</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody id="tbody" data-bind="foreach:spotGoodsOrders">
                        <tr>
                            <td data-bind="text:spotGoodsId"></td>
                            <td data-bind="text:productNo"></td>
                            <td data-bind="text:price"></td>
                            <td data-bind="text:isMosaic?'是':'否'"></td>
                            <td data-bind="text:created"></td>
                            <td data-bind="text:statusName"></td>
                            <td data-bind="text:customerName"></td>
                            <td data-bind="text:customerPhone"></td>
                            <td data-bind="text:address"></td>
                            <td>
                                <a data-bind="click:$parent.editClick" title="</">编辑</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="text-center"><ul id="spotGoodsOrderListPage"></ul></div>
        </div>
    </div>
    <!--/span-->
</div><!--/row-->

<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

        </div>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/bundles/js/knockout")
    @Scripts.Render("~/bundles/js/pager")
    @Scripts.Render("~/bundles/js/spotGoods/sellList")
}
