<div class="textfield pull-left">
    <div class="combobox pull-left">
        <div class="combobox-body" style="width: 150px;">
            <select id="colorFormId" name="colorForm" class="pull-left form-control"></select>
        </div>
    </div>
    </div>
    @Scripts.Render("~/bundles/js/control/colorForm")
