<div class="combobox pull-left">
    <div class="combobox-body" style="width: 200px;">
        <select id="colorFormId" name="colorForm" class="pull-left form-control"></select>
    </div>
</div>
@Scripts.Render("~/bundles/js/control/colorForm")
