@{
    Title("出错啦");
    Layout = null;
}

<style>
    body, html {
        background-color: #fff;
    }

    .error-center {
        width: 1200px;
        margin: auto;
    }

        .error-center > img {
            width: 300px;
            height: 250px;
            display: block;
            margin: auto;
            margin-top: 115px;
        }

        .error-center > .desc {
            margin-top: 20px;
            text-align: center;
        }
</style>


<div class="error-center">
    <img src="~/static/images/404.png">
    <div class="desc">
        @(Model ?? "抱歉！您已漫游到太空了")
    </div>
</div>
