@model SaleManagement.Protal.Models.LoginViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>18K珠宝管理系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="18K珠宝管理系统">
    <!-- The styles -->
    @Styles.Render("~/Bundles/Static/Css/login")
    <!-- The fav icon -->
    <link rel="shortcut icon" href="~/static/images/favicon.ico">
    <style type="text/css">
        ul li {
            list-style: none;
        }

        .checkbox input[type=checkbox] {
            height: 16px;
            width: 16px;
        }

        .checkbox label {
            line-height: 25px;
            color: red;
        }
    </style>
</head>
<body>
    <div class="main">
        <div class="row">
            <div class="row">
                <div class="col-md-12 center login-header">
                    <h3>欢迎使用18K珠宝管理系统</h3>
                </div>
                <!--/span-->
            </div><!--/row-->
            <div class="row">
                <div class="well col-md-4 center login-box">
                    <div class="alert alert-info">
                        请输入账号或手机号码
                    </div>
                    @Html.ValidationSummary()
                    @using (Html.BeginForm("WeChatLogin", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        <fieldset>
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user red"></i></span>
                                @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", placeholder = "请输入账号或手机号码" })
                            </div>
                            <div class="clearfix"></div>
                            <div class="input-group input-group-lg checkbox">
                                <label>
                                    <input type="checkbox"  checked="checked"> 当前微信号自动绑定该18K珠宝系统账号
                                </label>
                            </div>
                            <div class="clearfix"></div>
                            <p class="center">
                                <button type="submit" class="btn btn-primary">登录</button>
                            </p>
                        </fieldset>
                    }
                </div>
                <!--/span-->
            </div><!--/row-->
        </div>
    </div>
    <!-- external javascript -->
    <!-- jQuery -->
    @Scripts.Render("~/Bundles/Static/Js/Bootstrap")
</body>
</html>
