@model IEnumerable<SaleManagement.Core.Models.OrderOperationLog>
@{
    Title("制作流程");
    Layout = "~/Views/Shared/_customerLayout.cshtml";
}
<style type="text/css">
    .small {
        color: #fff;
        background-color: #fff;
        border-radius: 15px;
        font-size: 12px;
        width: 10px;
        height: 10px;
        line-height: 20px;
        display: block;
        text-align: center;
        margin: 0 auto;
        border: 2px solid #27dbff;
    }

    .col-3 {
        width: 20px;
        margin-right: 12px;
        margin-left: -20px;
        float: left;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }

    .col-9 {
        padding: 0;
        width: 90%;
        float: left;
        position: relative;
        min-height: 1px;
        margin-left: 20px;
        border-bottom: 1px solid #ececec;
    }

    .line {
        padding-bottom: 20px;
        border-left: 1px solid #ececec;
        margin-left: 0;
        float: left;
        width: 200px;
    }
</style>

<div class="row">
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well" data-original-title="">
                <div class="box-icon pull-left back">
                    <a  class="btn">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                    </a>
                </div>
                <span class="title">跟单</span>
            </div>
            <div class="box-content">
                <div class="alert alert-success" role="alert">订单 @ViewBag.orderId 的制作流程</div>
                @foreach (var log in Model)
                {
                    <div style="display:inline-block;width:100%">
                        <div style="width:100px;float:left">@log.Created.ToString("yyyy-MM-dd")</div>
                        <div class="line">
                            <div class="col-3">
                                <span class="small"></span>
                            </div>
                            <div class="col-9">
                                <p>@log.Created.ToShortTimeString()</p>
                                <p style="color:red">@log.Content</p>
                            </div>
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>
    <!--/span-->
</div><!--/row-->