@{
    Title("热销款");
    Layout = "~/Views/Shared/_customerLayout.cshtml";
}

<style type="text/css">
    .item {
        line-height: 3;
        padding: 5px 20px 5px 15px;
        margin-right: 10px;
    }

    .btn {
        padding: 2px 8px;
        border-top-width: 0px;
        border-left-width: 0px;
        border-bottom-width: 0px;
        margin-top: 3px;
    }

    .col-xs-6 {
        padding-left: 5px;
        padding-right: 5px;
    }

    .row {
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 5px;
    }
    .col-xs-6 {
        padding: 2px;
    }
</style>
<div>
    <div class="box">
        <div class="box-inner">
            <div class="box-header well">
                <div class="box-icon pull-left back">
                    <a class="btn">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                    </a>
                </div>
                <span class="title">热销款列表</span>
            </div>
            <div class="box-content">

                <div class="bs-example" style="margin-top: 2px" id="spotgoodTypeDiv">

                </div>
                <div class="row" data-bind="foreach:{data:hotSellings,as:'hotselling'}">

                    <div class="col-xs-6 col-md-4">
                        <a class="thumbnail" data-bind="attr:{href:'/customer/order/booking?spotGoodsPatternId='+ id}"> 
                                <img  style="height: 200px; width: 100%; display: block;" data-bind="attr:{src:hotselling.url}"> 
  
                            <div class="caption" data-bind="text:name"></div>
                       </a> 

                    </div>

                </div>


                <div class="text-center"><ul id="hotSellingListPage"></ul></div>
            </div>
        </div>
    </div>
    <!--/span-->
</div><!--/row-->
@section scripts{
    @Scripts.Render("~/bundles/js/knockout")
    @Scripts.Render("~/bundles/js/pager")
    @Scripts.Render("~/bundles/js/customer/hotselling/list")
}
