<?xml version="1.0"?>
<bundleConfig ignoreIfDebug="true" ignoreIfLocal="true">
  <cssBundles>
    <add bundlePath="~/Bundles/Static/Css/Bootstrap">
      <files>
        <add filePath="~/Static/Bootstrap/css/bootstrap.css"></add>
        <add filePath="~/Static/Bootstrap/css/bootstrap-reset.css"></add>
        <add filePath="~/Static/Bootstrap/css/font-awesome.css"></add>
        <add filePath="~/Static/Css/newstyle.css"></add>
      </files>
    </add>
    <add bundlePath="~/Bundles/Static/Css/login">
      <files>
        <add filePath="~/Static/Bootstrap/css/bootstrap.css"></add>
        <add filePath="~/Static/css/charisma-app.css"></add>
        <add filePath="~/Static/css/login.css"></add>
      </files>
    </add>
    <add bundlePath="~/Bundles/Static/Css/Layout">
      <files>
        <add filePath="~/Static/css/charisma-app.css"></add>
        <!--<add filePath="~/Static/css/jquery.noty.css"></add>
        <add filePath="~/Static/css/noty_theme_default.css"></add>
        <add filePath="~/Static/css/animate.min.css"></add>-->
      </files>
    </add>
    <add bundlePath="~/Bundles/Static/Css/iphonetoggle">
      <files>
        <add filePath="~/Static/css/jquery.iphone.toggle.css"></add>
      </files>
    </add>
    <add bundlePath="~/Bundles/Static/Css/DateTimePicker">
      <files>
        <add filePath="~/Static/bootstrap-datepicker/css/bootstrap-datetimepicker.css"></add>
      </files>
    </add>
  </cssBundles>
  <jsBundles>
    <add bundlePath="~/Bundles/Static/Js/FileUpload">
      <files>
        <add filePath="~/Static/Js/jquery.ui.widget.js"></add>
        <add filePath="~/Static/FileUpload/jquery.iframe-transport.js"></add>
        <add filePath="~/Static/FileUpload/jquery.fileupload.js"></add>
      </files>
    </add>
    <add bundlePath="~/Bundles/Static/Js/Bootstrap">
      <files>
        <add filePath="~/Static/js/jquery-1.10.2.js"></add>
        <add filePath="~/Static/Bootstrap/js/bootstrap.js"></add>
        <add filePath="~/Static/Bootstrap/js/respond.min.js"></add>
      </files>
    </add>
    <add bundlePath="~/Bundles/Js/DateTimePicker">
      <files>
        <add filePath="~/Static/bootstrap-datepicker/js/bootstrap-datetimepicker.js"></add>
        <add filePath="~/Static/bootstrap-datepicker/js/bootstrap-datetimepicker.zh-CN.js"></add>
      </files>
    </add>
    <add bundlePath="~/bundles/js/layoutJs">
      <files>
        <add filePath="~/Static/js/common.js"></add>
        <add filePath="~/Static/js/jquery.cookie.js"></add>
        <add filePath="~/Static/js/jquery.iphone.toggle.js"></add>
        <add filePath="~/Static/js/jquery.noty.js"></add>
        <add filePath="~/Static/js/jquery.raty.min.js"></add>
        <add filePath="~/Static/js/charisma.js"></add>
        <add filePath="~/Static/Js/modalDialog.js"></add>
      </files>
    </add>
    <add bundlePath="~/bundles/js/knockout">
      <files>
        <add filePath="~/Static/js/knockout-3.4.0.js"></add>
      </files>
    </add>
    <add bundlePath="~/bundles/js/pager">
      <files>
        <add filePath="~/Static/js/pager.js"></add>
      </files>
    </add>
    <add bundlePath="~/Bundles/Js/ajaxForm">
      <files>
        <add filePath="~/Static/Js/jquery.form.js"></add>
      </files>
    </add>
    <add bundlePath="~/Bundles/js/jqueryval">
      <directories>
        <add directoryPath="~/Static/Js/Mvc/" searchPattern="jquery.validate*"></add>
      </directories>
    </add>
    <add bundlePath="~/Bundles/Js/FileUpload">
      <files>
        <add filePath="~/Static/Js/jquery.ui.widget.js"></add>
        <add filePath="~/Static/FileUpload/jquery.iframe-transport.js"></add>
        <add filePath="~/Static/FileUpload/jquery.fileupload.js"></add>
      </files>
    </add>
    <add bundlePath="~/bundles/js/users">
      <files>
        <add filePath="~/Static/js/user/users.js"></add>
      </files>
    </add>
    <add bundlePath="~/bundles/js/edituser">
      <files>
        <add filePath="~/Static/js/user/edit.js"></add>
      </files>
    </add>
    <add bundlePath="~/bundles/js/systemMenu/authorized">
      <files>
        <add filePath="~/Static/js/SystemMenu/authorized.js"></add>
      </files>
    </add>
    <add bundlePath="~/bundles/js/gemCategories">
      <files>
        <add filePath="~/Static/js/BasicData/gemCategories.js"></add>
      </files>
    </add>
    <add bundlePath="~/bundles/js/editGemCategory">
      <files>
        <add filePath="~/Static/js/BasicData/editGemCategory.js"></add>
      </files>
    </add>
    <add bundlePath="~/bundles/js/colorForms">
      <files>
        <add filePath="~/Static/js/BasicData/colorForms.js"></add>
      </files>
    </add>
    <add bundlePath="~/bundles/js/editColorForm">
      <files>
        <add filePath="~/Static/js/BasicData/editColorForm.js"></add>
      </files>
    </add>
    <add bundlePath="~/bundles/js/matchStones">
      <files>
        <add filePath="~/Static/js/BasicData/matchStones.js"></add>
      </files>
    </add>
    <add bundlePath="~/bundles/js/editMatchStone">
      <files>
        <add filePath="~/Static/js/BasicData/editMatchStone.js"></add>
      </files>
    </add>
    <add bundlePath="~/bundles/js/productCategories">
      <files>
        <add filePath="~/Static/js/BasicData/ProductCategories.js"></add>
      </files>
    </add>
    <add bundlePath="~/bundles/js/editProductCategory">
      <files>
        <add filePath="~/Static/js/BasicData/EditProductCategory.js"></add>
      </files>
    </add>
    <add bundlePath="~/bundles/js/dailyGoldPrice/list">
      <files>
        <add filePath="~/Static/js/dailyGoldPrice/list.js"></add>
      </files>
    </add>
    <add bundlePath="~/bundles/js/dailyGoldPrice/edit">
      <files>
        <add filePath="~/Static/js/DailyGoldPrice/edit.js"></add>
      </files>
    </add>
    <add bundlePath="~/bundles/js/dailyGoldPrice/add">
      <files>
        <add filePath="~/Static/js/DailyGoldPrice/add.js"></add>
      </files>
    </add>
    <add bundlePath="~/bundles/js/order/booking">
      <files>
        <add filePath="~/Static/js/order/booking.js"></add>
      </files>
    </add>
    <add bundlePath="~/bundles/js/order/myorders">
      <files>
        <add filePath="~/Static/js/order/myorders.js"></add>
      </files>
    </add>
    <add bundlePath="~/bundles/js/order/uploadDesginImage">
      <files>
        <add filePath="~/Static/js/order/uploadDesginImage.js"></add>
      </files>
    </add>
    <add bundlePath="~/bundles/js/order/list">
      <files>
        <add filePath="~/Static/js/order/list.js"></add>
      </files>
    </add>
    <add bundlePath="~/bundles/js/order/setStone">
      <files>
        <add filePath="~/Static/js/order/setStone.js"></add>
      </files>
    </add>
    <add bundlePath="~/bundles/js/shipment/list">
      <files>
        <add filePath="~/Static/js/shipment/list.js"></add>
      </files>
    </add>
    <add bundlePath="~/bundles/js/reconciliation/list">
      <files>
        <add filePath="~/Static/js/reconciliation/list.js"></add>
      </files>
    </add>
    <add bundlePath="~/bundles/js/customer/order/list">
      <files>
        <add filePath="~/Static/js/customer/order/list.js"></add>
      </files>
    </add>
    <add bundlePath="~/bundles/js/notice/list">
      <files>
        <add filePath="~/Static/js/notice/list.js"></add>
      </files>
    </add>
    <add bundlePath="~/bundles/js/notice/edit">
      <files>
        <add filePath="~/Static/js/notice/edit.js"></add>
      </files>
    </add>
    <add bundlePath="~/bundles/js/crm/list">
      <files>
        <add filePath="~/Static/js/crm/list.js"></add>
      </files>
    </add>
    <add bundlePath="~/bundles/js/crm/editUser">
      <files>
        <add filePath="~/Static/js/crm/edit.js"></add>
      </files>
    </add>
    <add bundlePath="~/bundles/js/control/customer">
      <files>
        <add filePath="~/Static/js/jquery-1.10.2.js"></add>
        <add filePath="~/Static/js/control/customer.js"></add>
      </files>
    </add>
    <add bundlePath="~/bundles/js/control/colorForm">
      <files>
        <add filePath="~/Static/js/jquery-1.10.2.js"></add>
        <add filePath="~/Static/js/control/colorForm.js"></add>
      </files>
    </add>
    <add bundlePath="~/bundles/js/report/accountStatistics">
      <files>
        <add filePath="~/Static/js/report/accountStatistics.js"></add>
      </files>
    </add>
    <add bundlePath="~/bundles/js/report/shipmentStatistics">
      <files>
        <add filePath="~/Static/js/report/shipmentStatistics.js"></add>
      </files>
    </add>
   <add bundlePath="~/bundles/js/report/setStoneStatistics">
      <files>
        <add filePath="~/Static/js/report/setStoneStatistics.js"></add>
      </files>
    </add>
  </jsBundles>
</bundleConfig>
