@{
    ViewBag.Title = "用户管理";
}

<div>
    <ul class="breadcrumb">
        <li>
            <a href="/home/index">首页</a>
        </li>
        <li>
            <a href="/user/list">客户管理</a>
        </li>
    </ul>
</div>
<div class="search">
    <div class="textfield pull-left">
        <div class="field-body" style="width: 150px;">
            <input id="userName" class="form-control" type="text" placeholder="输入客户名称">
        </div>
    </div>
    <div class="textfield combobox pull-left">
        @{
            var userStatusItem = EnumHelper.GetSelectList(typeof(SaleManagement.Core.Models.UserStatus));
        }
        <div class="combobox-body" style="width: 120px;">
            @Html.DropDownList("userStatus", userStatusItem, "全部状态", new { Class = "pull-left form-control" })
        </div>
    </div>

    <button id="btnSearch" class="btn btn-primary">查询</button>
</div>

<div class="row">
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well" data-original-title="">
                <h2>客户列表</h2>
                <div class="box-icon">
                    <a href="/Crm/Create" class="btn">
                        <i class="glyphicon glyphicon-plus"></i>
                        新增
                    </a>
                    <a id="btnDisabled" class="btn">
                        <i class="glyphicon glyphicon-remove"></i>
                        禁用
                    </a>
                    <a id="btnEnabled" class="btn">
                        <i class="glyphicon glyphicon-ok"></i>
                        启用
                    </a>
                    <a id="btnRestPassword" class="btn">
                        <i class="glyphicon glyphicon-edit"></i>
                        重置密码
                    </a>
                </div>
            </div>
            <div class="box-content">
                <table class="table table-striped table-bordered bootstrap-datatable responsive text-center">
                    <thead>
                        <tr style="text-align:center">
                            <th width="20"></th>
                            <th width="100">姓名</th>
                            <th width="100">手机</th>
                            <th>地址</th>
                            <th width="80">镶石折扣率</th>
                            <th width="80">副石折扣率</th>
                            <th width="80">基本工费折扣率</th>
                            <th width="80">18K耗损比(%)</th>
                            <th width="80">pt耗损比(%)</th>
                            <th width="80">状态</th>
                            <th width="80">操作</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach:users" id="tbody">
                        <tr>
                            <td><input type="checkbox" data-bind="value:id,checked:false" /></td>
                            <td data-bind="text:name"></td>
                            <td data-bind="text:mobile"></td>
                            <td data-bind="text:address"></td> 
                            <td data-bind="text:stoneSetterDiscountRate"></td>
                            <td data-bind="text:sideStoneDiscountRate"></td>
                            <td data-bind="text:priceOfWorkDiscountRate"></td>
                            <td data-bind="text:loss18KRate"></td>
                            <td data-bind="text:lossPtRate"></td>
                            <!-- ko if:status==0 -->
                            <td>已禁用</td>
                            <!-- /ko -->
                            <!-- ko if:status!=0 -->
                            <td>已启用</td>
                            <!-- /ko -->
                            <td><a class="btn btn-warning btn-sm" data-bind="attr:{href:'/crm/edit?id='+id}">编辑</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="text-center"><ul id="usersListPage"></ul></div>
        </div>
    </div>
    <!--/span-->
</div><!--/row-->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

        </div>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/bundles/js/knockout")
    @Scripts.Render("~/bundles/js/pager")
    @Scripts.Render("~/bundles/js/crm/list")
}
